* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
	font-family: 'Lora', Times, Arial, Helvetica serif;	
}

header {
	width: 100%;
	height: 350px;
	background: url("https://images.unsplash.com/photo-1473800447596-01729482b8eb?auto=format&fit=crop&w=1500&q=80");
	background-position: right top;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 10px solid purple;
}

header h1 {
	font-size: 60px;
	font-style: italic;
	color: #fff;
	padding-top: 150px;
	text-align: center;
}

#navBar {
	width: auto;
	height: 100px;
	background: purple;
	padding-left: 240px;
	padding-top: 20px;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
}

.nav-item {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	font-size: 20px;
	text-align: center;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	box-sizing: border-box;
	-webkit-transition: background-color .9s;
	-moz-transition: background-color .9s;
	transition: background-color .9s;
}

.nav-item:hover {
	background-color: #e6ecef;
	color: rgb(192, 81, 163);
}

.nav-item:hover ~ #navDrop {
	max-height: 450px;
}


#navBar ul li {
	float: left;
	text-decoration: none;	
	width: 140px;
	height: 50px;
	text-align: center;
	list-style-type: none;
	background-color: purple;
}

#navBar ul ul li {
	position: relative;
	display: none;
}

#navBar ul li:hover ul li {
	display: block;
	padding-top: 10px;
	width: 150px;
}

#navBar ul ul li a {
	transition: all 0.9s ease-out;
}

.sub-nav a {
	font-size: 13px;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
	text-transform: lowercase;
	padding: 4px;
}


.sub-nav a:hover {
	background-color: #e6ecef;
	color: rgb(192, 81, 163);
}

.group:before,
.group:after{
	content: "";
	display: table;
}

.group:after{
	clear: both;
}

.group{
	zoom: 1;
}

#bookList {
	margin-right: -125px;
	padding-right: 20px;
	box-sizing: border-box;
}

#bookSlider {
	display: block;
	overflow: hidden;
	width: 50%;
	height: 350px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
	margin-bottom: 200px;
	margin-top: 170px;
}

.productImages {
	width: 70%;
	height: 550px;
	margin: 20px;
	margin-left: 80px;
	box-sizing: border-box;
	text-align: center;
	position: absolute;
}

.bTns {
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#btn1,
#btn2 {
	position: absolute;
	width: 50px;
	height: 50px;
	margin: auto;
	border: none;
	border-radius: 30px;
	top: 200px;
}

#btn1 {
	left: 0;
}

#btn2 {
	right: 0;
}

.btnSlide {
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
	background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
	background-color:#dbe6c4;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ced9bf;
}

.btnSlide:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
	background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
	background-color:#9ba892;
}
.btnSlide:active {
	position:relative;
	top:1px;
}

.btnSlide:focus {
	outline-style: none;
}

#paragraph {
	width: 100%;
	height: 100%;
	font-size: 50px;
	letter-spacing: 1px;
	text-align: center;
	font-style: italic;
}

footer {
	width: 100%;
	height: auto;
	background: #000;
	margin-top: 50px;
	padding: 50px 150px 0 30px;
	box-sizing: border-box;
}

.iconLink {
	width: 50px;
	height: 50px;
	background: #727064;
	border-radius: 35px;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
	float: right;
	font-size: 30px;
	color: #afaeaf;
	text-decoration: none;
}

.iconLink:hover {
	background-color: #470045;
}

.socialIcon {
	padding-left: 2px;
}

form {
	color: #fff;
	padding: 20px 40px;
	width: 40%;
	text-align: center;
}

#formHeader {
	font-size: 30px;
}

input {
	font-family: Tahoma, sans-serif;
	font-size: 100%;
}

input[type="email"] {
	min-height: 32px;
	margin-top: 20px;
	width: 100%;
	max-width: 480px;
	padding: 8px 0;
	box-sizing: border-box;
	display: block;
	cursor: auto;
	height: auto;
	vertical-align: baseline;
	line-height: normal;
}

input[type="submit"] {
	background: rgb(80, 85, 91);
	color: #fff;
	border: 0;
	width: 100%;
	padding: 10px 0;
	margin: 15px 15px 15px 0;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	-webkit-transition: background-color .3s;
	-moz-transition: background-color .3s;
	transition: background-color .3s;
}

input[type="submit"]:hover {
	background: rgb(71, 0, 69);
}

@media screen and (max-width: 955px) {
	#navBar {
		padding-left: 88px;
	}
	#navBar ul li {
		width: 125px;
	}
}

@media screen and (max-width: 845px) {
	#navBar {
		padding-left: 18px;
	}

	#navBar ul li {
		width: 130px;
	}

	.productImages {
		width: 60%;
	}

	footer {
		padding: 10px 20px;
	}
}

@media screen and (max-width: 767px) {
	
	#navBar {
		padding: 0 100px;
	}

	#nav-orient {
		margin-left: 65px;
	}

	.productImages {
		width: 60%;
		margin-left: 72px;
	}

	footer {
		padding: 50px 18px 0 30px;
	}

	form {
		padding: 0;
		width: 60%;
	}
}

@media screen and (max-width: 670px) {
		
		#navBar {
			padding: 0 87px;
		}

		.productImages {
			margin-left: 41px;
		}
}

@media screen and (max-width: 645px) {
	#navBar {
			padding: 0 60px;
		}

		#navBar ul li {
			width: 134px;
	}

	.productImages {
			margin-left: 34px;
		}
}

@media screen and (max-width: 550px) {
	
	#navBar {
		padding: 0;
	}

	.productImages {
		margin-left: 15px;
	}

	#bottom-container {
		padding: 10px 0 0 137px;


	}
	.iconLink {
		float: left;
	}

	form {
		width: auto;
	}
}

@media screen and (max-width: 480px) {

	header {

		 width: 100%;
		 background-position: center top;
	}

	header h1 {
		padding: 10px 10px 0 10px;
	}

	#navBar {
		width: auto;
		padding-left: 0;
		height: auto;
	}

	#navBar ul li {
		float: none;
		width: auto;
		display: block;
		height: 35px;
	}

	#navBar ul li:hover ul li {
		width: auto;
		display: none;
	}

	#nav-orient {
		margin-left: 42px;
	}

	.nav-item {
		padding: 0;
		font-size: 15px;
		margin-right: 0;
		float: none;
		height: 30px;
	}

	.nav-item:hover {
		padding: 6px;
	}

	#bookSlider {
		width: 53%;
		margin-bottom: 98px;
	}

	.productImages {
		width: auto;
		margin: 0;
	}

	#paragraph {
		width: 100%;
		height: 100%;
		font-size: 30px;
	}

	footer {		
		padding: 15px;
	}

	#formHeader {
		font-size: 25px;
	}

	.iconLink {
		float: left;
	}

	form {
		width: auto;
	}

	#bottom-container {
		padding: 10px 0 0 124px;
	}
}

@media screen and (max-width: 380px) {
	
	header {
		width: 100%;
	}

	#navBar {
		width: auto;
	}

	#nav-orient {
		margin-left: 0;
	}

	#bookSlider {
		width: 64%;
	}

	#btn1 {
		left: 10px;
	}

	.iconLink {
		float: left;
	}

	form {
		width: auto;
	}

	#formHeader {
		font-size: 20px;
	}

	#bottom-container {
		padding: 10px 0 0 65px;
	}
}
